.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  
  .header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .instructions {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .toggle-text {
    font-size: 24px;
    margin-left: 10px;
  }
  
  .toggle-checkbox {
    /* appearance: none; */
    width: 20px;
    height: 20px;
 
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    background-color: #f1f1f1; /* Set the background color to a light gray */
  }
  
  #suggestionsList {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  #suggestionsList li {
    padding: 4px;
    cursor: pointer;
  }
  
  #suggestionsList li:hover {
    background-color: #f5f5f5;
  }
  