:host {
	all: initial;
	/* Reset all styles */
	display: block;
	/* Make the host element a block-level element */
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.scroll {
	overflow-y: auto;
	max-height: 400px;
}

.list .menu {
	background-color: floralwhite;
	text-align: left;
	width: 100% font-
}

.list .submenu {
	display: inline-flex;
}

.list .item .disabled {
	cursor: not-allowed;
	color: #C6C6C6;
}

.list .fulfill {
	color: blue;
	font-weight: 400;
}

.list {
	width: 100%;
	background-color: #fff;
	z-index: 9999;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.43;
	letter-spacing: 0.01071em;
}

.list select {
	appearance: none;
	border: none;
	background: transparent;
	font-size: 18px;
	padding: 10px;
	width: 100%;
	cursor: pointer;
	outline: none;
}

.list select option {
	font-weight: bold;
}

.list select option:first-child {
	color: #999;
	font-weight: normal;
}

.list select::-ms-expand {
	display: none;
}

.list select option:before {
	content: "";
	display: none;
}

.list ul {
	list-style-type: none;
	padding-inline-start: 10px;
}

.list .closeBtn {
	position: absolute;
	top: 0;
	right: 0;
	/* padding: 10px; */
	font-size: 15px;
	color: #180606;
	background: none;
	border: none;
	cursor: pointer;
}

.list .closeBtn:hover {
	color: #ccc;
}

.list .header {
	/* border: 1px solid #999; */
	background-color: #999;
	height: 20px;
}

.list .submenu .item {
	padding-left: 2px;
	padding-right: 2px;
}

.list .item {
	color: rgb(144, 202, 249);
	text-decoration: underline rgba(144, 202, 249, 0.4);
	position: relative;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	border-radius: 0px;
	padding: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	display: inline-block;
}

.list .remove {
	display: inline-block;
	width: 10%;
	font-size: 11px;
}

.list .remove:hover {
	color: #ccc;
	cursor: pointer;
}

.list .category {
	color: rgb(144, 202, 249);
	cursor: pointer;
}

.list .item {
	text-align: left;
	width: 100%;
}

.list .itemline {
	justify-content: space-between;
	display: flex;
}

.disabled {
	cursor: not-allowed !important;
	color: #C6C6C6 !important
}

#category {
	width: 300px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#suggestionsList {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}

#suggestionsList li {
	padding: 10px;
	cursor: pointer;
}

#suggestionsList li:hover {
	background-color: #f5f5f5;
}